{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "trim_trailing_whitespace" : true,
  "bracketSameLine": false,
  "bracketSpacing": false
}
