.container {
  width: 100%;
  // max-width: 1440px;
  max-width: 1560px;
  margin: 0 auto;
  padding: 0 60px;

  @include vp-1366 {
    padding: 0 50px;
  }

  @include vp-1023 {
    padding: 0 75px;

    &--catalog {
      padding: 0 40px;
    }
  }

  @include vp-767 {
    padding: 0 25px;
  }
}
