.accordion {
    padding: 0;
    list-style: none;

    @include vp-1023 {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 25px 0 37px;
        row-gap: 4px;

        @include vp-767 {
            row-gap: 0;
            padding: 20px 5px 0;
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: calc(100% - 17px);
            height: 1px;
            top: 0;
            left: 0;
            background-color: $color-golden-dream;

            @include vp-767 {
                display: none;
            }
        }

        &::after {
            top: unset;
            bottom: 0;
        }
    }

    &__item {
        @include vp-1023 {
            display: flex;

            &--top {
                .accordion__button {
                    margin-top: 14px;
                }
            }
        }

        @include vp-767 {
            display: block;
            position: relative;

            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                top: 0;
                left: 0;
                background-color: $color-golden-dream;
            }

            &--top {
                .accordion__button {
                    margin-top: 0;
                }
            }
        }
    }

    &__button {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 9px 0;
        width: 100%;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        color: $color-catalina-blue;
        border: none;
        background-color: $color-transparent;
        cursor: pointer;
        transition: opacity $trans-default;

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.3;
        }

        @include vp-1023 {
            line-height: 20px;
            max-width: 126px;
            justify-content: flex-start;
        }

        @include vp-767 {
            justify-content: space-between;
            align-items: center;
            padding: 13px 0 9px;
            max-width: 100%;
            font-weight: 700;
            font-size: 16px;
            line-height: 18px;
        }
    }

    &__collapse {
        // height: 0;       
        // overflow: hidden;
        margin: 0;
        padding: 0;
        border: none;

        &.open {
            height: auto;

            .accordion__body {
                display: block;
            }
        }

        @include vp-1023 {
            width: 100%;
        }
    }

    &__body {
        display: none;

        @include vp-1023 {
            display: block;
        }

        @include vp-767 {
            display: none;
        }
    }

    &__arrow {
        position: absolute;
        top: calc(50% - 3px);
        right: 0;
        display: block;
        width: 10px;
        height: 6px;
        transform: translateY(-50%);
        transition: transform $trans-default, rotate $trans-default;

        @include vp-767 {
            top: 50%;
        }

        &.active {
            transform: translateY(-50%) rotate(180deg);
          }

          @include vp-1023 {
            display: none;
          }

          @include vp-767 {
            display: block;
          }
      }

    &__colon {
    display: none;

    @include vp-1023 {
        display: block;
    }

    @include vp-767 {
        display: none;
    }
    }

    &__transport {
    align-items: flex-start;
    padding: 8px 0 0;
    min-width: fit-content;
    min-height: 77px;
    border: none;
    background-color: $color-transparent;

    @include vp-1023 {
        padding: 5px 0 0;
        min-height: unset;
        column-gap: 1px;
    }

    @include vp-767 {
        padding-bottom: 20px;
        justify-content: start;
    }

    & > span {
        display: none;
    }

    .toggle__icon {
        height: 44px;

        @include vp-767 {
            width: 32px;
            height: 32px;
        }
    }
    }
}