.social {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    display: flex;
    width: 62px;
    height: 62px;
    border-radius: 50px;
    background-color: $color-pale-cornflower-blue;
    transition: background-color $trans-default;

    @include vp-767 {
      width: 45px;
      height: 45px;
    }

    &:hover,
    &:focus {
      background-color: $color-picton-blue;
    }

    &:active {
      background-color: rgba($color-picton-blue, 0.3);

      & svg {
        & path {
          fill: rgba($color-default-black, 0.3);
        }
      }
    }

    & svg {
      margin: auto;
      width: 30px;
      height: 25px;

      & path {
        fill: $color-default-black;
        transition: fill $trans-default;
      }
    }

    &--telegram {
      & svg {
        width: 28px;
        height: 26px;
      }
    }

    &--vk {
      & svg {
        width: 30px;
        height: 16px;
      }
    }

    &--youtube {
      & svg {
        width: 27px;
        height: 21px;
      }
    }
  }
}
