.travelers-catalog {
  --top: 83px;
  --header: 150.5px;
  width: 100%;
  padding-top: var(--top);
  padding-bottom: 77px;
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    --height: 282px;
    content: "";
    width: 100%;
    // height: 96%;
    height: calc(var(--height) + var(--header));
    position: absolute;
    left: 0;
    right: 0;
    top: calc(-1 * (var(--top) + var(--header)));;
    z-index: 12;

    background-color: $color-midnight-express;
    overflow: hidden;
    border-radius: 0 0 60px 60px;

    @include vp-1023 {
      // height: 53%;
      // height: 221px;
      --height: 317px;
    }

    @include vp-767 {
      // height: 30%;
      // height: 78px;
      --height: 109px;
      border-radius: 0 0 24px 24px;
    }
  }

  @include vp-1023 {
    --top: 95px;
    padding-bottom: 60px;
  }

  @include vp-767 {
    --top: 30px;
    padding-bottom: 48px;
  }

}

.travelers-catalog__wrapper {
  padding-top: 48px;
  display: grid;
  grid-template-columns: 950fr 285fr ;
  gap: 6.5%;

  @include vp-1023 {
    padding-top: 43px;
    grid-template-columns: 1fr;

    gap: 0;
  }

  @include vp-767 {
    padding-top: 21px;
  }
}

.travelers-catalog__title.title-h1 {
  padding-bottom: 68px;
  margin-left: 65px;

  @include vp-1023 {
    font-size: 60px;
    letter-spacing: 0;
    margin-left: 0;
    text-transform: capitalize;
  }

  @include vp-767 {
    font-size: 36px;
    padding-bottom: 11px;
  }
}

.travelers-catalog__inner {
  // padding-top: 48px;
  display: flex;
  flex-direction: column;

  @include vp-1023 {
    padding-top: 40px;
  }

  @include vp-767 {
    padding-top: 28px;
  }
}

.travelers-catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include vp-1023 {
    gap: 40px;
  }
  @include vp-767 {
    gap: 10px;
  }
}

.travelers-catalog__showmore-btn {
  width: fit-content;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 27px;
  padding: 7px 63px 10px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;

  margin-top: 56px;

  svg {
    transition: opacity $trans-default;
  }

  @include vp-1023 {
    gap: 25px;
    margin-top: 36px;
    padding: 12px 14px 10px 22px;
  }

  @include vp-767 {
    gap: 12px;
    font-size: 17px;
    line-height: 176%;
    margin-top: 14px;
    padding: 8px 6px 8px 18px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  @include hover-focus {
    svg {
      opacity: 0.6;
    }

    &:active {
      svg {
        opacity: 0.3;
      }
    }
  }

  &:active {
    svg {
      opacity: 0.3;
    }
  }
}

.travelers-catalog__pagination {
  margin-top: 60px;

  @include vp-1023 {
    margin-top: 41px;
  }

  @include vp-767 {
    margin-top: 10px;
  }
}